body {
  background: rgba(197, 203, 211, 1);
}

footer {
  background-color: rgba(140, 188, 185, 1);
}

header {
  background: rgba(140, 188, 185, 1);
}

.hangman {
  background-color: rgba(197, 203, 211, 1);
}

.instructions {
  background: rgba(141, 106, 159, .9);
  color: white;
  box-shadow:    0px 0px 3px 6px rgba(141, 106, 159, .9);
}

.wordarea {
  background: rgba(197, 203, 211, 1);
}

.boardSquare {
  background: rgba(140, 188, 185, .2);
  border-bottom: 2px solid rgba(141, 106, 159, 1);
}

#answerButton {
  background: rgba(221, 164, 72, 1);
  border: 3px solid rgba(221, 164, 72, 1);
}

#guessButton {
  background: rgba(221, 164, 72, 1);
  border: 3px solid rgba(221, 164, 72, 1);
}

#reset {
  background: rgba(187, 52, 47, 1);
  border: 3px solid rgba(187, 52, 47, 1);
  color: black;
}

#random {
  background: rgba(141, 106, 159, 1);
  border: 3px solid rgba(141, 106, 159, 1);
}
