body {
  font-family: 'Poppins', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height:70px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 100%;
  text-decoration: none;
}

.themeButton {
  border: 1px solid rgba(60, 60, 60, 1);
  height: 35px;
  width: 90px;
  margin-top: 10px;
  color: grey;
  text-align: center;
}

.themeButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#Theme1 {
  background-color: rgba(232, 226, 219, 1);
  line-height: 1%;
}

#Theme2 {
  background-color: rgba(197, 203, 211, 1);
  line-height: 1%;
}

#Theme3 {
  background-color: rgba(252, 215, 87, 1);
  line-height: 1%;
}

#Theme4 {
  background-color: rgba(111, 104, 102, 1);
  line-height: 1%;
  color: white;
}

header {
  position: fixed;
  left:0px;
  top:0px;
  height:140px;
  width:100%;
  line-height: 75px;
  padding-left: 20px;
}

h1 {
  display: inline;
  /*line-height: 50%;*/
  /*margin: auto 10px;*/
}

.gameArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.hangman {
  height: 400px;
  width: 300px;
  background-image: url("img/Hangman-0.png");
  background-repeat: no-repeat;
  background-position: center;
}

.guessedLetters {
  height: 400px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2  {
  text-decoration: underline;
}

#letters {
  font-size: 28px;
}

.instructions {
  height: 400px;
  width: 500px;
  font-size: 18px;
  padding: 20px;
}

.wordarea {
  /*border: 3px solid red;*/
  height: 400px;
  width: 500px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.tile {
  border: 2px solid green;
  height: 100px;
  width: 100px;
}

.boardSquare {
  height: 30px;
  width: 30px;
  margin: 5px;
  text-align: center;
  font-family:
}

.boardSquareEmpty {
  background: yellow;
  height: 30px;
  width: auto;
  margin: 15px;
}

.winCondition {
  /*border: 3px solid black;*/
  height: 300px;
  width: 400px;
  margin: 0px auto;
  margin: 0px auto;
  margin-bottom: 50px;
  background-color: #51E57A;
  font-size: 50px;
  text-align: center;
  line-height: 50%;
}

.winMessage {
  font-size: 18px;
  text-align: center;
}

.loseCondition {
  height: 300px;
  width: 400px;
  background-color: #FA5C1A;
  margin: 0px auto;
  margin: 0px auto;
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
  line-height: 50%;
}

.loseMessage {
  font-size: 18px;
  text-align: center;
}

.button {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 130px;
  display: inline;
  text-align: center;
  line-height: 38%;
  margin: auto;
  /*box-shadow:    4px 4px 3px 1px #666;*/
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.buttonBar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  position: relative;
}

.answer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#answerInput {
  font-size: 12px;
  line-height: 150%;
}

.guess {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#guessInput {
  font-size: 12px;
  line-height: 150%;
}

.other {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#reset {
  margin-right: 10px;
  color: black;
}

#random {
  margin-left: 10px;
  color: white;
}
