body {
  background: rgba(111, 104, 102, 1);
}

footer {
  background-color: rgba(56, 48, 46, 1);
}

.themeButton {
  border: 1px solid white;
}

#change {
  color: white;
}

header {
  background: rgba(56, 48, 46, 1);
}

h1 {
  color: white;
}

.hangman {
  background-color: rgba(111, 104, 102, 1);
}

.guessedLetters {
  color: white;
}

h2  {
  color: white;
}

#letters {
  color: white;
}

.instructions {
  background: rgba(120, 133, 133, .9);
  color: white;
  box-shadow:    0px 0px 3px 6px rgba(120, 133, 133, .9);
}

.wordarea {
  background: rgba(111, 104, 102, 1);
}

.boardSquare {
  background: rgba(56, 48, 46, .2);
  border-bottom: 2px solid white;
}

#answerButton {
  background: rgba(250, 252, 255, 1);
  border: 3px solid rgba(250, 252, 255, 1);
}

#guessButton {
  background: rgba(250, 252, 255, 1);
  border: 3px solid rgba(250, 252, 255, 1);
}

#reset {
  background: rgba(156, 174, 169, 1);
  border: 3px solid rgba(156, 174, 169, 1);
}

#random {
  background: rgba(120, 133, 133, 1);
  border: 3px solid rgba(120, 133, 133, 1);
}
